<%- include("templates/header") %>

<style>
.uniform-image {
  width: 100%;
  height: auto;
}
</style>


  <div class="container mt-5">
    <div class="row">
      
        <div class="container">
          <div class="row">
            <div class="col-sm-4 bordered-column">
              <img src="fishing.jpg" class="img-responsive uniform-image" alt="kero1" />
            </div>
            <div class="col-sm-4 bordered-column">
              <img src="hiking.jpg" class="img-responsive uniform-image" alt="kero2" />
            </div>
            <div class="col-sm-4 bordered-column">
              <img src="kayak1.jpg" class="img-responsive uniform-image" alt="kero3" />
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-3">
        <a href="/" class="btn btn-primary">Back to Home</a>
      </div>
    </div>
  </div>
  </div>

  <%- include("templates/footer") %>