<html>
<body>

  <footer class="container mt-auto py-3 bg-light">
    <div class="row">
      <div class="col text-center">
        <p>&copy; <%= new Date().getFullYear() %> Welcome to BC. All rights reserved.</p>
      </div>
    </div>
  </footer>
</body>
</html>
